

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #294b6d;
    z-index: 1200000;
    color: white;
    text-align: center;
    line-height: 90vh;
    font-size: xx-large;
    
}
.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -1200;
    color: white;
    text-align: center;
    line-height: 90vh;
    font-size: xx-large;
    
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    
}

#particles-js{
    
    height: 100%;
    background-size: cover;
    /* height: 100px; */
   background: #294b6d;


    
    
}

/* .fcard #particles-js .container  .card{
    position: relative;
    top: 570px;
} */


.logo{
    height: 55px;
    width: auto;
}

.welcome .parallax-container .wel-header p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    top: 150px;
    font-size: 90px;
    font-weight: 500;
}

.welcome .parallax-container .parallax img{
    filter: blur(2px);
    width: 7000px;
}

.carousel{
    height: 500px !important;
}

.sticky-nav{
    position: fixed;
    z-index: 1100000;
}

.nav-wrapper{
    background-color: #294b6d!important;
}


.slides img{
    filter: blur(2px);
    border-top: 45px !important;
}

.slides .caption h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .indicators .indicator-item.active{
   background-color: #294b6d !important;
}


.fcard {
    /* background:#294b6d ; */
    margin-bottom: 0;
    /* height: 1024px; */
    size: 1010px  2373px;
    background-repeat: repeat;
    

}
.fcard .container .card{
    position: relative;
    width: 280px;
   height: 450px;
   background: #294b6d;
   border-radius: 20px;
   overflow: hidden;

}

.fcard .container .card {
    margin-right: 13px;
    
    margin-left: 85px;
    
}


.fcard{
    z-index: 19000;
}
.container .c1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .c2::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: greenyellow;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;

}
.container .c3::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: orange;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;

}
.container .c4::before{

    content: '';
    position: absolute;
    b
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: palevioletred;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;

}

.container .card:hover::before{
    clip-path: circle(300px at 80% -20%);
}

/* .container .card::after{
    content: 'RAJEX';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 7em;
    font-weight: 800;
    font-style: italic;
    color: pink;
    
} */

.container .card .imgBx{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
    
    
}

.container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
   
}

.container .card .imgBx img{
    position: absolute;
    top: 50%;
    /* margin-left: 5.3em; */
    left: 4.3em;
    top: 1.5em;
    transform: translate(-50% -50%) rotate(-25deg);
    width: 170px;
    border-left: 8px;
    
}

.container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    padding-bottom: 18px !important;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx{
    height: 230px;
}


.container .card .contentBx h2{
    position: relative;
    right: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 47px;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .flink h5{

display: flex;
justify-content: center;
align-items: center;
padding: 18px 20px;
transition: 0.5s;

}

.parallax-container{
    height: 90vh !important;
    margin: 0;
}

.fparallax{
    width: 100%;
    min-height: 400px;
}

.parallax  img{
    width: 1500px;
}


.fabout .section .row a{
    display: flex;
    justify-content: center;
    align-items: center; 
   color: #294b6d;
  
}

.fabout .section .row h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #294b6d;
}

.fabout .section .container a{
    position: relative;
    /* left: 180px; */
    
    /* display: inline-block; */
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 12px 36px;
    margin-left: 10px 0;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#294b6d,#55e7fc);
}

.fabout .section .container a:hover{
    transform: scale(1.1);
}

footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #294b6d;
	box-shadow: 0 1px 1px 0 red;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #f5deb3;
	font: normal 36px var(--ff-primary);
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}